body {
    background-image: url("IMG/achtergrond_forum.jpg");
    background-size: cover;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    width: 70%;
    margin: 0 auto;
    border-radius: 10px;
}

.header{
    width: 70%;
    height: 200px;
    margin: 10px auto;
    font-size: 20px;
    font-family: "Arial Black", serif;
    background: rgba(0, 64, 255, 0.3);
    border-radius: 10px;
    color: #f2f2f2;
    overflow: hidden;
}

.header h1{
    text-align: center;
    margin-top: 70px;
    margin-right: 50px;
}

.header img {
    position: relative;
    left: 100px;
    float: left;
    top: 15px
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.navbar a:hover {
    background-color: #675eff;
    color: black;
}


.navbar a.active {
    background-color: #2243af;
    color: #f9ffef;
}

.navbar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}



.container {
    line-height: 20px;
    width: 65%;
    margin: auto auto;
    height: auto;
    margin-top: 15px;
}
.post {
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.post a {
    text-decoration: none;
    color: black;
}

.post a:hover {
    color: #bebebe
}
.postname {
    width: 70%;
}
.replies {
    width: 20%;
}

a {
    text-decoration: none;
    color: black;
}

table {
    width: 100%;
}

.infobar {
    color: #ffffff;
    line-height: 21px;
    border-radius: 10px;
    width: 70%;
    margin: 15px auto auto;
    padding-left: 0;
    padding-top: 0;
}

.infobar table {
    border-bottom: 1px solid #000000;
    background-color: #9198c2;
}


.postcontent {
    position: relative;
    height: auto;
    line-height: 21px;
    width: 70%;
    margin: auto auto;
    overflow: hidden;
}

.userinfo{
    text-align: center;
    border-right: #cccccc 1px solid;
    width: 15%;
    padding-top: 10px;
    padding-bottom: 25px;
    min-width: 165px;
    height: 100%;
}

.posttable {
    vertical-align: top;
    padding-left: 5px;
}

.posttext {
    padding-top: 10px;
    vertical-align: top;
}

.admintitle strong {
    padding: 3px;
    background-color: #1d1baf;
    color: #ffffff;
    width: 100%;
    text-align: center;
}


.reactioncontent {
    position: relative;
    height: auto;
    line-height: 21px;
    width: 70%;
    margin: auto auto;
    overflow: hidden;
    border-bottom: gray 1px solid;
}

.reactionbox {
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    height: auto;
    background-color: #9198c2;
}
.welkom{
    text-align: center;
    font-size: 30px;
    margin-top: 70px;
    font-family: "Arial Black", serif;
    color: #f9ffef;

}