body {
    background-image: url("IMG/achtergrond_forum.jpg");
    background-size: cover;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    width: 70%;
    margin: 0 auto;
    border-radius: 10px;
}

.header{
    width: 70%;
    height: 200px;
    margin: 10px auto;
    font-size: 20px;
    font-family: "Arial Black", serif;
    background: rgba(0, 64, 255, 0.3);
    border-radius: 10px;
    color: #f2f2f2;
    overflow: hidden;
}

.header h1{
    text-align: center;
    margin-top: 70px;
    margin-right: 50px;
}

.header img {
    position: relative;
    left: 100px;
    float: left;
    top: 15px
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.navbar a:hover {
    background-color: #675eff;
    color: black;
}


.navbar a.active {
    background-color: #2243af;
    color: #f9ffef;
}

.navbar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}



.container {
    line-height: 20px;
    width: 65%;
    margin: auto auto;
    height: auto;
    margin-top: 15px;
}
.post {
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.post a {
    text-decoration: none;
    color: black;
}

.post a:hover {
    color: #bebebe
}
.postname {
    width: 70%;
}
.replies {
    width: 20%;
}

a {
    text-decoration: none;
    color: black;
}
